#container {
	width: 100%;
	height: 100%;
	background-color: #414142;
}

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'bebas';
	src: url(../fonts/BebasNeue Regular.ttf);
}

/* homepage header style*/
#header {
	width: 100%;
	height: 100px;
	background-color: #393839;
	z-index: 400;
	position: fixed;
}

#logo {
	z-index: 100;
	position: absolute;
	top: 25px;
	left: 41%;
}

/*interior page navigation bar*/
#homeinsideheader {
	width: 100%;
	height: 100px;
	background-color: #393839;
	z-index: 2000;
	position: fixed;
	display: none;
}

/*interior page navigation bar*/
#insideheader {
	width: 100%;
	height: 100px;
	background-color: #393839;
	z-index: 2000;
	position: fixed;

}

#subheader {
	width: 575px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -280px;
}

#verticallogo {
	display: block;
	z-index: 100;
	position: relative;
	top: 15px;
	left: 10px;
	background:url(../images/assets/vertical-logo.png);
	height: 71px;
	width: 57px;
	float: left;
}

a {
	text-decoration: none;
}

.headertext {
	display: block;
	font-family: 'bebas';
	font-size: 13pt;
	color: white;
	float: left;
	padding-right: 50px;
	position: relative;
	left: 0px;
	top: 38px;
	letter-spacing: 1pt;
	float: left;

}

.headertext:last-child {
	padding-right: 0px;
}

#selected{
	opacity: .4;
}


/*index icon styling*/
#filtericons {
	width: 1064px;
	height: 200px;
	top: 170px;
	position: fixed;
	left: 50%;
	margin-left: -532px;
}

/*homepage icon filter images*/
#regionicon {
	background:url(../images/assets/region.png);
	width: 266px;
	height: 101px;
	display: block;
}

#coloricon {
	background:url(../images/assets/color.png);
	width: 266px;
	height: 101px;
	display: block;

}

#styleicon {
	background:url(../images/assets/style.png);
	width: 266px;
	height: 101px;
	display: block;

}

#moodicon {
	background:url(../images/assets/mood.png);
	width: 266px;
	height: 101px;
	display: block;
}

.homepagefilter {
	float: left;
}

.filter:hover {
	opacity: .4;
}

/*region icon images*/
.naimage {
	background:url(../images/assets/northamerica.png); 
	width: 106px;
	height: 126px;
	border: none;
	margin-right: 40px;
}

.saimage {
	background:url(../images/assets/southamerica.png); 
	width: 105px;
	height: 126px;
	border: none;
	margin-right: 40px;
}

.euimage {
	background:url(../images/assets/europe.png); 
	width: 164px;
	height: 126px;
	border: none;
	margin-right: 40px;
}

.afimage {
	background:url(../images/assets/africa.png); 
	width: 94px;
	height: 126px;
	border: none;
	margin-right: 40px;
}

.asiaimage {
	background:url(../images/assets/asia.png); 
	width: 138px;
	height: 126px;
	border: none;
	margin-right: 40px;
}

.ausimage {
	background:url(../images/assets/australia.png); 
	width: 101px;
	height: 126px;
	border: none;

}
/*end region filter images*/

/*color filter images*/
.whiteimage {
	background:url(../images/assets/white.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.redimage {
	background:url(../images/assets/red.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.orangeimage {
	background:url(../images/assets/orange.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.yellowimage {
	background:url(../images/assets/yellow.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.greenimage {
	background:url(../images/assets/green.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.blueimage {
	background:url(../images/assets/blue.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.purpleimage {
	background:url(../images/assets/purple.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.pinkimage {
	background:url(../images/assets/pink.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.woodimage {
	background:url(../images/assets/wood.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.blackimage {
	background:url(../images/assets/black.png); 
	width: 59px;
	height: 88px;
	border: none;
	margin-right: 20px;
}

.multiimage {
	background:url(../images/assets/multi.png); 
	width: 59px;
	height: 88px;
	border: none;
}
/*end color filter images*/


/*start style filter*/
.houseimage {
	background:url(../images/assets/house.png); 
	width: 144px;
	height: 141px;
	border: none;
	margin-right: 40px;
}

.churchimage {
	background:url(../images/assets/church.png); 
	width: 144px;
	height: 141px;
	border: none;
	margin-right: 40px;
}

.buildingimage {
	background:url(../images/assets/building.png); 
	width: 144px;
	height: 141px;
	border: none;
	margin-right: 40px;
}

.archimage {
	background:url(../images/assets/arch.png); 
	width: 144px;
	height: 141px;
	border: none;
}
/*end style filter images*/

/*start personality filter*/
.whimsicalimage {
	background:url(../images/assets/whimsical.png); 
	width: 120px;
	height: 137px;
	border: none;
	margin-right: 20px;
}

.rusticimage {
	background:url(../images/assets/rustic.png); 
	width: 120px;
	height: 137px;
	border: none;
	margin-right: 20px;
}

.romanticimage {
	background:url(../images/assets/romantic.png); 
	width: 120px;
	height: 137px;
	border: none;
	margin-right: 20px;
}

.dangerousimage {
	background:url(../images/assets/dangerous.png); 
	width: 120px;
	height: 137px;
	border: none;
	margin-right: 20px;
}

.urbanimage {
	background:url(../images/assets/urban.png); 
	width: 120px;
	height: 137px;
	border: none;
}
/*end style filter images*/


/*region icon styling*/
#regionicons {
	width: 1000px;
	height: 220px;
	top: 145px;
	position: fixed;
	left: 50%;
	margin-left: -450px;
}

.regionfilter {
	float: left;
	padding-right: 40px;
	vertical-align: bottom;
}

.regionfilter:last-child {
	padding-right: 0px;
}

.regionfilter:hover {
	opacity: .4;
}


/*color icon styling*/
#coloricons {
	width: 850px;
	height: 2-0px;
	top: 170px;
	position: fixed;
	left: 50%;
	margin-left: -425px;
}

.colorfilter {
	float: left;
	padding-right: 20px;
}

.colorfilter:last-child {
	padding-right: 0px;
}

.colorfilter:hover {
	opacity: .4;
}


/*style icon styling*/
#styleicons {
	width: 715px;
	height: 100px;
	top: 138px;
	position: fixed;
	left: 50%;
	margin-left: -357px;
}

.stylefilter {
	float: left;
	padding-right: 50px;
	vertical-align: bottom;
}

.stylefilter:last-child {
	padding-right: 0px;
}

.stylefilter:hover {
	opacity: .4;
}

/*personality icon styling*/
#moodicons {
	width: 700px;
	height: 100px;
	top: 143px;
	position: fixed;
	left: 50%;
	margin-left: -350px;

}

/*white line dividing each page in half*/
#line {
	height: 10px;
	background-color: white;
	width: 100%;
	top: 330px;
	position: absolute;
	z-index: 31;
}


/*to top button*/
#toTop {
   
    background:url(../images/assets/backtotop.png);
    width: 138px;
    height: 35px;
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: none;
    box-shadow: 3px 3px 3px black;
    z-index: 1000;
}



/*bottom half with door images*/
#bottom {
	height: 100%;
	width: 100%;
	position: relative;
	top: 330px;
	z-index: 30;
	background-color: white;
}

.box { /* frames your image, hiding overflowing parts */
  width:25%;
  overflow:hidden;
  position:relative;
  float: left;
  margin: 0;
  padding:0;
  display: none;
}

.box:before { /* sets height equal to width for square */
  content:"";
  padding-top:100%;
  display:inline-block;
}

.box img { /* centers image in box */
  width:110%;
  transition:all 2s; /* # sets speed of zoom */
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.box:hover img { /* expands image on hover -- change to decide how zoomed-in or out it becomes */
  width:150%;
}

.info {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:#eeeeee;
  opacity:0;
  z-index:100;
  transition:all 1s; /* # sets speed of info reveal */
}

.info p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:1.5rem;
  margin:0;
  text-align: center;
  font-family: 'bebas';

}
.info:hover { /* reveals info on hover */
  opacity:0.6;
}

a {
	color: black;

}

#container .mix{
	display: none;
}





